/* CSS RESET - For consistency across browsers/systems e.t.c */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}
/* end of reset */

@media screen and (min-width: 1400px) {
  body {
    font-size: 110%;
  }
}

@media only screen and (max-width: 1300px) {
  body {
    font-size: 100%;
  }
}

html body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
  overflow-wrap: break-word;
  font-family: "Lato", "Helvetica", "Verdana", "Tahoma", "Segoe UI",
    "Helvetica Neue", sans-serif;
}

svg {
  height: 5vh;
  width: 10%;
}

:root {
  --main-text-color: #ffffff;
  --dashboard-color: #e2e8f0;
  --secondary-color: #24abea;
  --general-border-radius: 12px;
}
/* this container defines the viewbox for the entire page, and the columns/rows used for the layout */
.mainPageContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 0.8fr repeat(9, 1fr);
  grid-template-columns: 1fr 3fr 1fr;
}
/* start of sidebar */

.sidebar {
  color: var(--main-text-color);
  background-color: var(--secondary-color);
  grid-area: 1/1/13/2;
  display: grid;
  grid-template-rows: 2fr repeat(10, 1.5fr);
}

.sidebar .titleContainer {
  grid-column: 2/3;
}

.navButtons {
  grid-area: 2/2/10/3;
  display: flex;
  flex-direction: column;
}

.svgCombiner > p {
  margin: 10px;
  font-size: 1.1em;
}

.svgCombiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 8vh;
  width: 15vw;
}

#titleCombiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 15vh;
  width: 15vw;
}

.svgCombiner > svg {
  fill: #ffffff;
  height: 5vh;
  width: 15%;
}

.titleContainer > .svgCombiner > svg {
  height: 15vh;
  width: 25%;
}

.titleContainer > .svgCombiner > h1 {
  margin-left: 20px;
  font-size: 1.5em;
}

/* end of sidebar */

/* start of topbar */

.topbar {
  padding: 1vh 2vw 1vh 2vw;
  grid-area: 1/2/3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  background-color: #ffffff;
}

.topbar .searchContainer {
  grid-column: 1/3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.topbar .searchContainer > svg {
  width: 4%;
  margin-right: 5px;
}

.topbar > .searchContainer > input {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  width: 44vw;
  height: 3vh;
  border-radius: 30px;
  border-style: none;
  background-color: var(--dashboard-color);
  padding: 0px 0px 25px 3px;
}

.topbar > .profileContainer {
  grid-area: 1/3/2/4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
  gap: 10px;
  font-size: 1em;
  font-weight: 600;
}

.profileContainer :nth-child(2) {
  height: 6vh;
  width: 15%;
  margin-right: 5px;
}

.topbar > .userActionContainer {
  grid-area: 2/1/3/4;
  display: flex;
  align-items: center;
}

.topbar .userActionContainer > svg {
  height: 100%;
  width: 5%;
  margin-right: 20px;
}

.greetingContainer {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  height: 5vh;
  width: 20vw;
}

.greetingContainer > :first-child {
  font-size: 0.8em;
}

.greetingContainer > :nth-child(2) {
  font-size: 1.3em;
}

.actionsContainer {
  grid-area: 2/2/3/4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  margin-right: 50px;
}

.actionsContainer > button {
  height: 4vh;
  width: 7vw;
  border-radius: 30px;
  border-style: none;
  background-color: var(--secondary-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  color: var(--main-text-color);
}

.actionsContainer > button:hover {
  background-color: #0c6b96;
  transition: 0.3s;
}

/* end of topbar */

/* start of announcements section */

.announcementsNav {
  padding: 20px 10px 0px 0px;
  grid-area: 3/3/7/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 5fr;
  background-color: var(--dashboard-color);
}

.announcementsNav > h2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 1.5vw;
  grid-area: 1/1/2/2;
  font-weight: 600;
  font-size: 1.2em;
}

.announcementsNav .announcementsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}

.announcementsNav .announcementCard {
  grid-area: 2/1/3/2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: var(--general-border-radius);
  height: 94%;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.announcement {
  height: 8vh;
  width: 15vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.announcement:nth-child(3) {
  height: 9vh;
  width: 15vw;
  border-bottom: 0px;
}

.announcement p {
  font-size: 0.65em;
}
.announcement h4 {
  font-size: 0.8em;
}

/* end of announcements section */

/* start of trending section */

.trendingNav {
  padding: 20px 10px 0px 0px;
  grid-area: 7/3/13/4;
  background-color: var(--dashboard-color);
}

.trendingNav > h2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 1.5vw;
  grid-area: 1/1/2/2;
  font-weight: 600;
  font-size: 1.2em;
}

.trendingNav .trendingContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}

.trendingNav .trendingCard {
  grid-area: 2/1/3/2;
  gap: 10px;
  background-color: white;
  border-radius: var(--general-border-radius);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 90%;
}

.trendingUser {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 8vh;
  width: 15vw;
}

.trendingUser > img {
  height: 80%;
  border-radius: 100px;
}

.trendingUser > p {
  padding-left: 5px;
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: 600;
}

.trendingUser .projectType {
  color: #3333339f;
  font-size: 0.8em;
  font-weight: 500;
}
/* end of trending section */

/*start of dashboard|*/

.dashboard {
  grid-area: 3/2/13/3;
  background-color: var(--dashboard-color);
  gap: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
}

.dashboard .DashboardTitleCont {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 25px;
  font-size: 1.2em;
  font-weight: 600;
}

.cardContainer {
  grid-row: 2/5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 27vw));
  padding-left: 20px;
  gap: 1vw;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dashboard .card {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 1fr 0.5fr;
  overflow: scroll;
  border-radius: var(--general-border-radius);
  height: 21vh;
  width: min(26vw, 27vw);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: linear-gradient(to right, #e9af0e 2%, white 0% 100%);
}

.dashboard .card:hover {
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
  background: linear-gradient(to right, #d39b17 2%, white 0% 100%);
}

.dashboard .card .projectInfo {
  padding: 10px 30px 0px 30px;
  grid-area: 1/1/2/4;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

.dashboard .card .cardActions {
  grid-area: 2/2/3/4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
  margin-right: 40px;
}

.dashboard .card svg {
  height: 4vh;
  width: 10%;
}

.dashboard .card h3 {
  font-size: 1.3em;
  margin-bottom: 2px;
}
/* end of dashboard */
